.quiz-area-container {

    padding-left: 12.5em;
    padding-top: 1.8rem;
    height: 93.9vh;
}

.tabs-manager {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--sidebar);
    height: 3.5rem;
}

.path-manager {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: var(--background);
    border-bottom: 2px solid black;
    height: 1rem;
    -webkit-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.447);
    -moz-box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.41);
    box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.413);
}


.close{
    opacity: 0;
}

.tabs {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    color: var(--yellow);
    font-weight: 500;
}

.tab {
    margin-right: .15rem;
    cursor: pointer;
    list-style: none;
    margin-top: 5px;
    padding: 0 1rem;
    background-color: #2D2D2D;
}

.tab:hover .close {
    opacity: 1;
    }

.tab-icon{
    color: var(--yellow);
}

.right-corner{
    display: flex;
}

.btn{
    color: rgb(125, 125, 125);
    padding: 0 0.2rem;
}

.btn:hover{
    background-color: rgb(72, 72, 72);
    border-radius: 5px;
    cursor: pointer;
}

.path-manager{
    color: rgb(125, 125, 125);
    padding: 4px 15px;
}

  
  
  .quiz-content {
    color: var(--whitish);
    padding: 0 1rem;
    grid-column: 2;
  }
  

.js-path{
    color: var(--yellow);
}

.path-manager p:hover{
    cursor: pointer;
    color: #919191;
}

.cube{
    color: var(--purple);
}

.import-area{
    display: flex;
}


.question-area{
    display: flex;
    border-left: 1px solid rgb(101, 101, 101);

}

.question-area p{
    margin-left: 0.25rem;
    margin-bottom: 0.01rem;
}

.option-area{
    display: flex;
    border-left: 1px solid rgb(101, 101, 101);

}

input{
    all: unset;
    border: 1px solid var(--yellow);
  width: .55rem;
    height: .55rem;
  display: inline-block;

}

input:checked{
    background-color: #FFD700;
}

.option-area p{
    margin-bottom: 0.01rem;
}


.import-area p{
    margin-left: 0.25rem;
    margin-bottom: 0.01rem;
}

.submit-button{
    outline: none;
    border: none;
    background: none;   
    color: var(--yellow);
    cursor: pointer;
    font-size: 1rem;
}

.send-result{
    display: flex;
}
  

@media screen and (max-width: 580px) {
   .quiz-area-container {
        padding-left: 0;
    }

    .question, .import-area{
        margin-left: 5.5rem;
    }

    .tabs-manager {
        height: 3.5rem;
    }
    .tabs {
        padding: 0 6.7rem;
    }
    .tab {
        padding: 0 0.5rem;
    }

    .right-corner{
        display: none;
    }

    .path-manager{
        margin-left: 6.5em;
        font-size: 0.9rem;
    }


}