@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{

  --background: #1E1E1E;
  --sidebar: #252526;
  --left-nav-bar: #323232;
  --purple: #c586c0;
  --green: #98C379;
  --red: #E06C75;
  --yellow: #E5C07B;
  --select-text: #4176a3;

}
body {
  font-family: 'Roboto', 'Courier New', monospace;
  margin: 0;
  overflow-x: hidden;

}


